* {
  box-sizing: border-box;
}

.app {
  width: 415px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 100vh;
}

@media (max-width: 415px) {
  .app {
    width: 100px;
  }
}

.brand {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-item {
  display: inline-block;
  flex: 1 1 0;
  text-align: center;
  padding: 14px 0;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #eee;
  font-size: 1rem;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #eee;
}

.section {
  padding: 30px;
}

.section-title {
  margin-top: 0;
}

.section-description {
  line-height: 26px;
}

.blog {
  border-top: 1px solid #eee;
}

.post {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.post-title {
  margin-top: 0;
}

.post-title a {
  color: #000;
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
  color: blue;
}

.post-date {
  color: #999;
  font-size: 12px;
}

.post-image {
  max-width: 100%;
  margin: 30px 0;
}

.post-summary {
  line-height: 26px;
  margin-top: 0;
}

.post-source {
  color: #999;
}
